@{
    ViewBag.Tiile = "AnalizNo";
}
<body>

</body>
<h1>@ViewBag.Message</h1>
<AnalizNo>Загрузка блока...</AnalizNo>
<script src="~/public/polyfills.js"></script>
<script src="~/public/app.js"></script>