@{
    ViewBag.Tiile = "FaceMergin";
}
<script language="javascript" type="text/javascript" src="~/Scripts/MyTestScript.js"></script>
<div class="merginreport">
    <h1>@ViewBag.Message</h1>
    <my-app>Загрузка блока...</my-app>
    <script src="~/public/polyfills.js"></script>
    <script src="~/public/app.js"></script>
</div>
