<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DBF" connectionString="Provider=vfpoledb.1;Data Source=D:\DBF;Collating Sequence=Machine"/>
    <add name="SQL" connectionString="Data Source=i7751-app127;Initial Catalog=2NDFL;Integrated Security=True;Connect Timeout=30;MultipleActiveResultSets=True"/>
  </connectionStrings>
</configuration>