<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="SQL" connectionString="Data Source=i7751-app001;Initial Catalog=Taxes51;Integrated Security=True;MultipleActiveResultSets=True"/>
  </connectionStrings>
  <appSettings>
    <add key="FileInn" value="XmlFile/Inn.xml" /><!--Путь к файлу ИНН по схеме SnuOneForm.xsd-->
    <add key="FileJurnalError" value="XmlJurnal/InnError.xml" /><!--Путь к файлу Журналу ошибок по схеме ErrorJurnal.xsd-->
    <add key="FileJurnalOk" value="XmlJurnal/InnOk.xml" /><!--Путь к файлу Журналу отрабтаных по схеме OkJurnal.xsd-->
    <add key="FileSpisok" value="FormXml/" /><!--Папка для формирование списка-->
    <add key="PathJurnal" value="XmlJurnal/" /><!--Путь к журналам-->
    <add key="PathInn" value="XmlFile/" /><!--Путь к спискам значений-->
    <add key="ExcelReportFile" value="ExcelReport/" /><!--Путь к конвертированым отчетам!!!-->
  </appSettings>
</configuration>