<div id="db">
    <h2>База данных по умолчанию:  {{database.db.db}}</h2><br/>
    <b id="text">Выбор Базы Данных:</b>
    <select [(ngModel)]="database.db">
        <option *ngFor="let x of database.databases" [ngValue]="x">{{x.db}}</option>
    </select>
    <div class="grid-container">
        <div class="grid-item">
            <label>Дата начала:</label>
        </div>
        <div class="grid-item">
            <input id="D85" name="D85DateStart" type="date" [(ngModel)]="date.D85DateStart" />
        </div>
        <div class="grid-item">
            <label>Дата окончания:</label>
        </div>
        <div class="grid-item">
            <input id="D85_1" name="D85" [(ngModel)]="date.D85DateFinish" type="date" />
        </div>
    </div>
    <label class="errors">{{date.messageerror}}</label><br />
    <button class="btn btn-sm btn-danger" (click)="swithdb(database.db.num,date.D85DateStart,date.D85DateFinish)">Получить данные с БД</button>
</div>
<form id="form" (ngSubmit)="storeprocedurestart(1,setting.ParametrReshen.D270)">
    <div id="add">
        <label>Добавить системный номер:</label>
        <input id="SysNum" placeholder="Сис. номер!!!" name="sysnum" [(ngModel)]="setting.ParametrReshen.D270" type="number" />
        <input type="submit" value="Отправить" />
    </div>
</form>
<b>{{status.messagestatus}}</b>
<div id="start">
    <button id="startresh" [disabled]="status.blocks" class="btn btn-sm" (click)="storeprocedurestart(2)">Запустить решения</button>
    <button id="startincass" [disabled]="status.blocks" class="btn btn-sm" (click)="storeprocedurestart(3)">Запустить инкассовые поручения</button>
</div>
<table *ngIf="mode; else detalization" class="table table-striped">
    <thead>
    <tr>
        <th>Системный номер<br/>
            <input type="text" name="D270" [(ngModel)]="filters.D270" placeholder="Системный номер" />
        </th>
        <th>Статус Решения<br/>
            <input type="text" name="idStatus" [(ngModel)]="filters.IdStatus_1" placeholder="Статус решения" />
        </th>
        <th>Ошибка по решению<br/>
            <input type="text" name="error" [(ngModel)]="filters.ErrorReshenie" placeholder="Ошибка" />
        </th>
        <th>Дата ошибки<br/>
            <input type="text" name="dateBlokReshenie" [(ngModel)]="filters.DateBlokReshenie" placeholder="Дата" />
        </th>
        <th>Статус Инкас. Поруч.<br/>
            <input type="text" name="idStatus_2" [(ngModel)]="filters.IdStatus_2" placeholder="Инкас.Поручение" />
        </th>
        <th>Ошибка по инкассовым поруч.<br />
            <input type="text" name="errorIncass" [(ngModel)]="filters.ErrorIncass" placeholder="Ошибка" />
        </th>
        <th>Дата ошибки<br/>
            <input type="text" name="dateBlokIncass" [(ngModel)]="filters.DateBlokIncass" placeholder="Дата" />
        </th>
        <th>Детализация</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <td colspan="4">
            <label for="limit">Limit: </label><input type="number" name="limit" [(ngModel)]="limit" min="1" [attr.max]="[numberResh]" step="1" placeholder="Limit">
            <label for="page">Page: </label><input type="number" name="page" [(ngModel)]="page" min="1" [attr.max]="[numberResh]" step="1" placeholder="Page">
        </td>
    </tr>
    </tfoot>
    <tbody>
    <tr *ngFor="let res of reshenie?.TableSysNumReshen | elementfilter:filters | slice:(page-1) *limit:page*limit"  >
        <th>{{res?.D270}}</th>
        <th>{{res?.IdStatus_1}}</th>
        <th>{{res?.ErrorReshenie}}</th>
        <th>{{res?.DateBlokReshenie}}</th>
        <th>{{res?.IdStatus_2}}</th>
        <th>{{res?.ErrorIncass}}</th>
        <th>{{res?.DateBlokIncass}}</th>
        <td>
            <button id="detal" class="btn btn-sm btn-danger" (click)="detal(res)">Детализация</button>
        </td>
    </tr>
    </tbody>
</table>
<p *ngIf="errornull; else notfound"></p>
<ng-template #detalization>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Ун требования</th>
            <th>Системный номер</th>
            <th>Ун плательщика</th>
            <th>Сумма</th>
            <th>Валюта</th>
            <th>???</th>
            <th>Ун решения</th>
            <th>????</th>
            <th>Исходящий</th>
            <th>Дата создания</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>{{resheniedetal?.D865Res}}</th>
            <th>{{resheniedetal?.D270}}</th>
            <th>{{resheniedetal?.N1}}</th>
            <th>{{resheniedetal?.Summ}}</th>
            <th>{{resheniedetal?.N120}}</th>
            <th>{{resheniedetal?.D850Res}}</th>
            <th>{{resheniedetal?.D851Res}}</th>
            <th>{{resheniedetal?.D865Res}}</th>
            <th>{{resheniedetal?.D270IshRes}}</th>
            <th>{{resheniedetal?.DateCreate}}</th>
        </tr>
        </tbody>
    </table>
    <div class="glyphicon-align-left">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Ун Решения</th>
                <th>???</th>
                <th>Ун инкассового поруч</th>
                <th>Суммы </th>
                <th>Исходящийна инкас</th>
                <th>Дата создания</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let in of incass">
                <th>{{in?.D851Res_1}}</th>
                <th>{{in?.D850Incass}}</th>
                <th>{{in?.D851Incass}}</th>
                <th>{{in?.Summ}}</th>
                <th>{{in?.D270IshIncass}}</th>
                <th>{{in?.DateCreate}}</th>
            </tr>
            </tbody>
        </table>
        <b><button id="break" class="btn btn-sm" (click)="returns()">Вернутся</button></b>
    </div>
</ng-template>

<ng-template #notfound>
    <h4>По данной выборки нет данных!!!</h4>
</ng-template>