<div *ngIf="model; else noRecord">
    <table mat-table [dataSource]="model.model.datasource">
        <ng-container *ngFor="let column of model.model.columns" [matColumnDef]="column.key">
            <th mat-header-cell *matHeaderCellDef> {{column.header}} </th>
            <td mat-cell *matCellDef="let row"> {{column.cell(row)}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="model.model.displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: model.model.displayedColumns;"></tr>
    </table>
</div>
<ng-template #noRecord>
    <div> Нет данных </div>
</ng-template>