<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceLotusNotes" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServiceLotusNotes" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/LotusNotes.Wcf.ServiceLotusNotes"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceLotusNotes"
                contract="ServiceReference1.IServiceLotusNotes" name="BasicHttpBinding_IServiceLotusNotes" />
            <endpoint address="net.tcp://localhost:45617/LotusNotes.Wcf.ServiceLotusNotes"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServiceLotusNotes"
                contract="ServiceReference1.IServiceLotusNotes" name="NetTcpBinding_IServiceLotusNotes">
                <identity>
                    <servicePrincipalName value="host/I7751-W40000961.regions.tax.nalog.ru" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>