<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:net="http://schemas.microsoft.com/wix/NetFxExtension">
  <?define AutomatAis3Full_TargetDir=$(var.AutomatAis3Full.TargetDir)?>
  <?define CurrentVersion="!(bind.fileVersion.AutomatAis3Full.exe)"?>
	<Product Id="*" Name="AutomatAis3Full $(var.CurrentVersion)" Codepage="1251" Language="1049"  Version="$(var.CurrentVersion)" Manufacturer="AutomatAis3Full"
           UpgradeCode="b1045be5-b9a0-4aeb-8793-dabc3e5132b4">
		<Package InstallerVersion="405" Compressed="yes" InstallScope="perMachine" />

    
    <PropertyRef Id="NETFRAMEWORK45"/>
    <PropertyRef Id="NETFRAMEWORK40FULL"/>

    <Condition Message='This setup requires Microsoft .NET Framework 4.0 Full or 4.5 package or greater needs to be installed for this installation to continue.'>
      <![CDATA[Installed OR (NETFRAMEWORK40FULL AND NETFRAMEWORK45)]]>
    </Condition>
    
        <!--Для обновления программы и наката новой версии-->
    <Upgrade Id="561EFBEE-AD31-427B-92F1-9E202429B693">
      <UpgradeVersion OnlyDetect='yes' MigrateFeatures='yes' Minimum='1.0.0.0' IncludeMinimum='yes' Maximum='$(var.CurrentVersion)' IncludeMaximum='no' Property='PREVIOUSFOUND' Language='1049' IgnoreRemoveFailure='no' />
    </Upgrade>
    
    
		<MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="Уже установлена более новая версия продукта [ProductName]." />
		<MediaTemplate EmbedCab="yes" />

    <WixVariable Id="WixUIBunnersBmp" Value="bmp\installer_banner_wix.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="bmp\installer_background_wix.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="License\License.rtf" />
    
        <!--Диалоговые окна по ссылкам UI-->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    

    <UIRef Id="WixUI_InstallAutomatAis3" />
      
		<Feature Id="ProductFeature" Title="AutomatAis3Full" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="CreateDownloadTempXml"/>
      <ComponentRef Id="CreateXsdShemeLoad"/>
      <ComponentRef Id="CreateFolderx86"/>
      <ComponentRef Id="CreateFolderx64"/>
      <ComponentRef Id="ClearAll" />
      <ComponentRef Id="ClearUnistallation"/>
      <ComponentRef Id="CreateFolderXmlFile"/>
      <ComponentRef Id="CreateFolderHelp"/>
      <ComponentRef Id="CreateFolderXmlJurnal"/>
      <ComponentRef Id="CreateFolderFormXml"/>
      <ComponentRef Id="CreateFolderExcelReport"/>
      <ComponentRef Id="CreateFolderPdfReport"/>
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="AppShortcutDesktop" />
      <ComponentRef Id="Helpers"/>
      <ComponentRef Id="x64pdfium.dll"/>
      <ComponentRef Id="x86pdfium.dll"/>
      <ComponentRef Id="XsdAllBodyData.xsd"/>
		</Feature>

    <!--<InstallExecuteSequence>
      <Custom Action="Register" After='InstallInitialize'/>

    </InstallExecuteSequence>-->
	</Product>



	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="AutomatAis3Full">
        </Directory>
        <Directory Id="TempFolder">
          <Directory Id="TEMPFOLDER"/>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" >
        <Directory Id="ProgramMenuDirr" Name="AutomatAis3Full"/>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop"/>

    </Directory>
    
	</Fragment>

  
      <Fragment>
    <DirectoryRef Id="ProgramMenuDirr">
      <Component Id="ApplicationShortcut" Guid="63308B96-3A13-4DFC-904A-3990919D442B">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="AutomatAis3Full" Description="Автоматы для АИС НАЛОГ 3" Target="[INSTALLFOLDER]AutomatAis3Full.exe" WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        <RemoveFolder Id="CleanUpShortCut" Directory="ProgramMenuDirr" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\AutomatAis3Full" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="AppShortcutDesktop" Guid="7ED68615-AD0B-439B-BD2D-EB2C34602C24">
        <Shortcut Id="AppStartDesktopShortcut" WorkingDirectory="INSTALLFOLDER" Name="AutomatAis3Full" Description="Автоматы для АИС НАЛОГ 3" Target="[INSTALLFOLDER]AutomatAis3Full.exe"/>
        <RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\AutomatAis3Full" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
    
      
     <Fragment>
       <DirectoryRef Id="INSTALLFOLDER">
         <Directory Id="XsdShemeLoad" Name="XsdShemeLoad">
           <Component Id="CreateXsdShemeLoad" Guid="C4ADDFEC-C47A-4B90-B74C-8E20A2C83CB3">
             <CreateFolder />
           </Component>
         </Directory>
       </DirectoryRef>

       <DirectoryRef Id="INSTALLFOLDER">
         <Directory Id="DownloadTempXml" Name="DownloadTempXml">
           <Component Id="CreateDownloadTempXml" Guid="B9CF42EB-6142-45BB-B35A-6668EF4A9552">
             <CreateFolder />
           </Component>
         </Directory>
       </DirectoryRef>
       <DirectoryRef Id="INSTALLFOLDER">
         <Directory Id="PathXmlFile" Name="XmlFile">
           <Component Id="CreateFolderXmlFile" Guid="8F0172B4-C441-4E01-8C5A-5A12E8FA6FE0">
             <CreateFolder />
           </Component>
         </Directory>
       </DirectoryRef>
       <DirectoryRef Id="INSTALLFOLDER">
          <Directory Id="Help" Name="Help">
            <Component Id="CreateFolderHelp" Guid="6236342C-7449-4ADA-B9C2-C3CE4BC241E8">
              <CreateFolder />
            </Component>
          </Directory>
       </DirectoryRef>
       <DirectoryRef Id="INSTALLFOLDER">
          <Directory Id="XmlJurnal" Name="XmlJurnal">
            <Component Id="CreateFolderXmlJurnal" Guid="8E0FD549-A3FF-426B-9360-1696AD18D23E">
              <CreateFolder />
            </Component>
          </Directory>
       </DirectoryRef>
       <DirectoryRef Id="INSTALLFOLDER">
          <Directory Id="FormXml" Name="FormXml">
            <Component Id="CreateFolderFormXml" Guid="F70DAFBC-E595-4B1A-A5BA-F84E9644C0CA">
              <CreateFolder />
            </Component>
          </Directory>
        </DirectoryRef>
        <DirectoryRef Id="INSTALLFOLDER">
          <Directory Id="ExcelReport" Name="ExcelReport">
            <Component Id="CreateFolderExcelReport" Guid="46956D6E-08AF-4C34-AB77-FE2243A5717B">
              <CreateFolder />
            </Component>
          </Directory>
        </DirectoryRef>
        <DirectoryRef Id="INSTALLFOLDER">
          <Directory Id="PdfReport" Name="PdfReport">
            <Component Id="CreateFolderPdfReport" Guid="C4E7A67A-6800-4003-8686-BACD6937AE0D">
              <CreateFolder />
            </Component>
          </Directory>
        </DirectoryRef>
       <DirectoryRef Id="INSTALLFOLDER">
         <Directory Id="x86dll" Name="x86">
           <Component Id="CreateFolderx86" Guid="126810C5-FB82-4A34-9241-C972CC659244">
             <CreateFolder />
           </Component>
         </Directory>
       </DirectoryRef>
       <DirectoryRef Id="INSTALLFOLDER">
         <Directory Id="x64dll" Name="x64">
           <Component Id="CreateFolderx64" Guid="B0E5ED2D-F126-4F9A-9579-BAAB454E10BC">
             <CreateFolder />
           </Component>
         </Directory>
       </DirectoryRef>
     </Fragment>

  
      
    <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="ClearUnistallation" Guid="50C8948D-61DD-4F9B-A1F2-04BE77187F26">
        <CreateFolder Directory="INSTALLFOLDER" />
        <RemoveFile Id="RemoveFilePathXmlFile" On="uninstall" Name="*.*" Directory="PathXmlFile" />
        <RemoveFolder Id="RemoveFolderPathXmlFile" On="uninstall" Directory="PathXmlFile" />
        <RemoveFile Id="RemoveFileHelp" On="uninstall" Name="*.*" Directory="Help" />
        <RemoveFolder Id="RemoveFolderHelp" On="uninstall" Directory="Help" />
        <RemoveFile Id="RemoveFileXmlJurnal" On="uninstall" Name="*.*" Directory="XmlJurnal" />
        <RemoveFolder Id="RemoveFolderXmlJurnal" On="uninstall" Directory="XmlJurnal" />
        <RemoveFile Id="RemoveFileFormXml" On="uninstall" Name="*.*" Directory="FormXml" />
        <RemoveFolder Id="RemoveFolderFormXml" On="uninstall" Directory="FormXml" />
        <RemoveFile Id="RemoveFileExcelReport" On="uninstall" Name="*.*" Directory="ExcelReport" />
        <RemoveFolder Id="RemoveFolderExcelReport" On="uninstall" Directory="ExcelReport" />
        <RemoveFile Id="RemoveFilePdfReport" On="uninstall" Name="*.*" Directory="PdfReport" />
        <RemoveFolder Id="RemoveFolderPdfReport" On="uninstall" Directory="PdfReport" />
        <RemoveFile Id="RemoveFilex86" On="uninstall" Name="*.*" Directory="x86dll" />
        <RemoveFolder Id="RemoveFolderx86" On="uninstall" Directory="x86dll" />
        <RemoveFile Id="RemoveFilex64" On="uninstall" Name="*.*" Directory="x64dll" />
        <RemoveFolder Id="RemoveFolderx64" On="uninstall" Directory="x64dll" />
        <RemoveFile Id="RemoveFileDownloadTempXml" On="uninstall" Name="*.*" Directory="DownloadTempXml" />
        <RemoveFolder Id="RemoveFolderDownloadTempXml" On="uninstall" Directory="DownloadTempXml" />
        <RemoveFile Id="RemoveFileXsdShemeLoad" On="uninstall" Name="*.*" Directory="XsdShemeLoad" />
        <RemoveFolder Id="RemoveFolderXsdShemeLoad" On="uninstall" Directory="XsdShemeLoad" />
      </Component>
    </DirectoryRef>
  </Fragment>
  
  
    <Fragment>
  <DirectoryRef Id="INSTALLFOLDER">
    <Component Id="ClearAll" Guid="C97D7263-D34E-4EC1-9003-650CD3CA455A">
      <RemoveFile Id="RemoveFileAll" Directory="INSTALLFOLDER" Name="*.*" On="uninstall" />
      <RemoveFolder Id="Removeall" On="uninstall" Directory="INSTALLFOLDER" />
    </Component>
  </DirectoryRef>
</Fragment>

      
	<Fragment>
	  <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
	    <Component Id="AutomatAis3Full.exe" Guid="d6b457a4-f691-4527-ad2b-fe932a8ddab0">
	      <File Id="AutomatAis3Full.exe" Name="AutomatAis3Full.exe" Source="$(var.AutomatAis3Full_TargetDir)AutomatAis3Full.exe" />
	    </Component>
	    <Component Id="MaterialDesignThemes.Wpf.dll" Guid="5563fb9b-9ca5-489c-a908-5207c1e2d203">
	      <File Id="MaterialDesignThemes.Wpf.dll" Name="MaterialDesignThemes.Wpf.dll" Source="$(var.AutomatAis3Full_TargetDir)MaterialDesignThemes.Wpf.dll" />
	    </Component>
	    <Component Id="AutomatAis3Full.exe.config" Guid="2efdc2eb-9e01-49a6-8204-b7f99614a513" >
        
        <File Id="AutomatAis3Full.exe.config" Name="AutomatAis3Full.exe.config" Source="$(var.AutomatAis3Full_TargetDir)AutomatAis3Full.exe.config" KeyPath="yes" Vital="yes"/>
        <util:XmlFile Id="AutomatAis3FullSet1" File="[#AutomatAis3Full.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='Ifns'[\]]//@value" Value="[IFNS]" SelectionLanguage="XPath" Sequence="1" />

        <util:XmlFile Id="HostNameService" File="[#AutomatAis3Full.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='HostNameService'[\]]//@value" Value="[SERVICE]" SelectionLanguage="XPath" Sequence="1" />
        <util:XmlFile Id="ServiceModelInventory" File="[#AutomatAis3Full.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='ServiceModelInventory'[\]]//@value" Value="http://[SERVICE]:8181/ServiceRest/GetServiceApi" SelectionLanguage="XPath" Sequence="1" />

        <util:XmlFile Id="AutomatAis3FullSetHelp" File="[#AutomatAis3Full.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='Help'[\]]//@value" Value="[INSTALLFOLDER]Help\AutomateAis3Full.pdf" SelectionLanguage="XPath" Sequence="1" />
        <util:XmlFile Id="AutomatAis3FullSetAllListModel" File="[#AutomatAis3Full.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='AllListModel'[\]]//@value" Value="[INSTALLFOLDER]XmlFile\AutoGenerateSchemes.xml" SelectionLanguage="XPath" Sequence="1" />

        <util:XmlFile Id="AutomatAis3FullSetInfoRuleTemplate" File="[#AutomatAis3Full.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='InfoRuleTemplate'[\]]//@value" Value="[INSTALLFOLDER]XmlJurnal\InfoRuleTemplate.xml" SelectionLanguage="XPath" Sequence="1" />
        <util:XmlFile Id="AutomatAis3FullSetInfoUserTemplateRule" File="[#AutomatAis3Full.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='InfoUserTemplateRule'[\]]//@value" Value="[INSTALLFOLDER]XmlJurnal\InfoUserTemplateRule.xml" SelectionLanguage="XPath" Sequence="1" />

        <util:XmlFile Id="AutomatAis3FullSetFileFid" File="[#AutomatAis3Full.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='FileFid'[\]]//@value" Value="[INSTALLFOLDER]XmlFile\Fid.xml" SelectionLanguage="XPath" Sequence="1" />
        <util:XmlFile Id="AutomatAis3FullSetFileInn" File="[#AutomatAis3Full.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='FileInn'[\]]//@value" Value="[INSTALLFOLDER]XmlFile\Fpd.xml" SelectionLanguage="XPath" Sequence="1" />
        <util:XmlFile Id="AutomatAis3FullSetFileFpd" File="[#AutomatAis3Full.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='FileFpd'[\]]//@value" Value="[INSTALLFOLDER]XmlFile\Fpd.xml" SelectionLanguage="XPath" Sequence="1" />
        <util:XmlFile Id="AutomatAis3FullSetFileInnFull" File="[#AutomatAis3Full.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='FileInnFull'[\]]//@value" Value="[INSTALLFOLDER]XmlFile\InnFull.xml" SelectionLanguage="XPath" Sequence="1" />
        <util:XmlFile Id="AutomatAis3FullSetIdZaprosVisual" File="[#AutomatAis3Full.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='IdZaprosVisual'[\]]//@value" Value="[INSTALLFOLDER]XmlFile\IdZaprosVisual.xml" SelectionLanguage="XPath" Sequence="1" />
        <util:XmlFile Id="AutomatAis3FullSetFidFace" File="[#AutomatAis3Full.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='FidFace'[\]]//@value" Value="[INSTALLFOLDER]XmlFile\FidFace.xml" SelectionLanguage="XPath" Sequence="1" />
        <util:XmlFile Id="AutomatAis3FullSetFileJurnalError" File="[#AutomatAis3Full.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='FileJurnalError'[\]]//@value" Value="[INSTALLFOLDER]XmlJurnal\InnError.xml" SelectionLanguage="XPath" Sequence="1" />
        <util:XmlFile Id="AutomatAis3FullSetFileJurnalOk" File="[#AutomatAis3Full.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='FileJurnalOk'[\]]//@value" Value="[INSTALLFOLDER]XmlJurnal\InnOk.xml" SelectionLanguage="XPath" Sequence="1" />
        <util:XmlFile Id="AutomatAis3FullSetReportMigration" File="[#AutomatAis3Full.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='ReportMigration'[\]]//@value" Value="[INSTALLFOLDER]XmlJurnal\ReportMigration.xml" SelectionLanguage="XPath" Sequence="1" />
        <util:XmlFile Id="AutomatAis3FullSetUserRule" File="[#AutomatAis3Full.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='UserRule'[\]]//@value" Value="[INSTALLFOLDER]XmlJurnal\UserRule.xml" SelectionLanguage="XPath" Sequence="1" />
        <util:XmlFile Id="AutomatAis3FullSetFileSpisok" File="[#AutomatAis3Full.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='FileSpisok'[\]]//@value" Value="[INSTALLFOLDER]FormXml\" SelectionLanguage="XPath" Sequence="1" />
        <util:XmlFile Id="AutomatAis3FullSetPathJurnal" File="[#AutomatAis3Full.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='PathJurnal'[\]]//@value" Value="[INSTALLFOLDER]XmlJurnal\" SelectionLanguage="XPath" Sequence="1" />
        <util:XmlFile Id="AutomatAis3FullSetPathInn" File="[#AutomatAis3Full.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='PathInn'[\]]//@value" Value="[INSTALLFOLDER]XmlFile\" SelectionLanguage="XPath" Sequence="1" />
        <util:XmlFile Id="AutomatAis3FullSetExcelReportFile" File="[#AutomatAis3Full.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='ExcelReportFile'[\]]//@value" Value="[INSTALLFOLDER]ExcelReport\" SelectionLanguage="XPath" Sequence="1" />
        <util:XmlFile Id="AutomatAis3FullSetPathPdfWork" File="[#AutomatAis3Full.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='PathPdfWork'[\]]//@value" Value="[INSTALLFOLDER]PdfReport\" SelectionLanguage="XPath" Sequence="1" />
        <util:XmlFile Id="AutomatAis3FullSetServiceGetOrPost" File="[#AutomatAis3Full.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='ServiceGetOrPost'[\]]//@value" Value="http://[SERVICE]:8050/ServiceAutomation/LoadModelPreCheck" SelectionLanguage="XPath" Sequence="1" />
        <util:XmlFile Id="DatabaseAutomationConnect" File="[#AutomatAis3Full.exe.config]" Action="setValue" ElementPath="//configuration//connectionStrings//add[\[]@name='DatabaseAutomation'[\]]//@connectionString" Value="Data Source=[SERVER];Initial Catalog=[DB];Integrated Security=True;MultipleActiveResultSets=True" SelectionLanguage="XPath" Sequence="1" />
        <util:XmlFile Id="BulkCopyXmlAutomationConnect" File="[#AutomatAis3Full.exe.config]" Action="setValue" ElementPath="//configuration//connectionStrings//add[\[]@name='BulkCopyXml'[\]]//@connectionString" Value="provider=SQLOLEDB;data source=[SERVER];database=[DB];integrated security=SSPI" SelectionLanguage="XPath" Sequence="1" />
        <util:XmlFile Id="AutomatAis3FullSetPathXsdScheme" File="[#AutomatAis3Full.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='PathXsdScheme'[\]]//@value" Value="[INSTALLFOLDER]XsdShemeLoad\" SelectionLanguage="XPath" Sequence="1" />
        <util:XmlFile Id="AutomatAis3FullSetPathDownloadTempXml" File="[#AutomatAis3Full.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='PathDownloadTempXml'[\]]//@value" Value="[INSTALLFOLDER]DownloadTempXml\" SelectionLanguage="XPath" Sequence="1" />
        <util:XmlFile Id="AutomatAis3FullSetServiceTemplate" File="[#AutomatAis3Full.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='AllTemplate'[\]]//@value" Value="http://[SERVICE]:8050/ServiceAutomation/LoadAllTemplateDb" SelectionLanguage="XPath" Sequence="1" />
      </Component>
	    <Component Id="MaterialDesignThemes.MahApps.dll" Guid="6c5e4642-dae0-4322-8ca5-96b32b5a83a9">
	      <File Id="MaterialDesignThemes.MahApps.dll" Name="MaterialDesignThemes.MahApps.dll" Source="$(var.AutomatAis3Full_TargetDir)MaterialDesignThemes.MahApps.dll" />
	    </Component>
	    <Component Id="System.Windows.Interactivity.dll" Guid="09899775-2e57-4061-bbb6-47bd0dbd30b0">
	      <File Id="System.Windows.Interactivity.dll" Name="System.Windows.Interactivity.dll" Source="$(var.AutomatAis3Full_TargetDir)System.Windows.Interactivity.dll" />
	    </Component>
	    <Component Id="ViewModelLib.dll" Guid="e6dcb71c-90b7-4576-95f3-875b701dd36e">
	      <File Id="ViewModelLib.dll" Name="ViewModelLib.dll" Source="$(var.AutomatAis3Full_TargetDir)ViewModelLib.dll" />
	    </Component>
	    <Component Id="LibraryCommandPublic.dll" Guid="db4b5693-3aa3-41fd-a9ce-3a6be5b13d9c">
	      <File Id="LibraryCommandPublic.dll" Name="LibraryCommandPublic.dll" Source="$(var.AutomatAis3Full_TargetDir)LibraryCommandPublic.dll" />
	    </Component>
	    <Component Id="Prism.dll" Guid="5eab3abe-4eb5-47a3-8d2e-331367bf21a5">
	      <File Id="Prism.dll" Name="Prism.dll" Source="$(var.AutomatAis3Full_TargetDir)Prism.dll" />
	    </Component>
      <Component Id="Prism.Wpf.dll" Guid="EAEDFBDF-D5E8-4D69-A2DE-302ABF9DC9F5">
        <File Id="Prism.Wpf.dll" Name="Prism.Wpf.dll" Source="$(var.AutomatAis3Full_TargetDir)Prism.Wpf.dll" />
      </Component>
	    <Component Id="MaterialDesignColors.dll" Guid="349a8fe7-3aa1-4914-bc3c-840b929e9030">
	      <File Id="MaterialDesignColors.dll" Name="MaterialDesignColors.dll" Source="$(var.AutomatAis3Full_TargetDir)MaterialDesignColors.dll" />
	    </Component>
	    <Component Id="PublicLogicaFull.dll" Guid="feda9afe-c5ca-4295-81f4-68d79bcb0b2b">
	      <File Id="PublicLogicaFull.dll" Name="PublicLogicaFull.dll" Source="$(var.AutomatAis3Full_TargetDir)PublicLogicaFull.dll" />
	    </Component>
	    <Component Id="LibaryXMLAuto.dll" Guid="9b4804c2-52a6-4b10-97e5-dff9672c2a21">
	      <File Id="LibaryXMLAuto.dll" Name="LibaryXMLAuto.dll" Source="$(var.AutomatAis3Full_TargetDir)LibaryXMLAuto.dll" />
	    </Component>
	    <Component Id="ClosedXML.dll" Guid="81b2e1d6-e075-4ff7-b7dc-5b605fa5fc3f">
	      <File Id="ClosedXML.dll" Name="ClosedXML.dll" Source="$(var.AutomatAis3Full_TargetDir)ClosedXML.dll" />
	    </Component>
	    <Component Id="DocumentFormat.OpenXml.dll" Guid="90b4a79b-adfc-4d7e-b1d7-91e36a263d01">
	      <File Id="DocumentFormat.OpenXml.dll" Name="DocumentFormat.OpenXml.dll" Source="$(var.AutomatAis3Full_TargetDir)DocumentFormat.OpenXml.dll" />
	    </Component>
	    <Component Id="ExcelNumberFormat.dll" Guid="a094d961-318e-440c-9727-595c950ded0d">
	      <File Id="ExcelNumberFormat.dll" Name="ExcelNumberFormat.dll" Source="$(var.AutomatAis3Full_TargetDir)ExcelNumberFormat.dll" />
	    </Component>
	    <Component Id="FastMember.dll" Guid="36a8ddd4-3127-49c9-a7d7-86bc7efee195">
	      <File Id="FastMember.dll" Name="FastMember.dll" Source="$(var.AutomatAis3Full_TargetDir)FastMember.dll" />
	    </Component>
	    <Component Id="LibraryAIS3Windows.dll" Guid="02370789-664b-410f-8d64-dfabac31262f">
	      <File Id="LibraryAIS3Windows.dll" Name="LibraryAIS3Windows.dll" Source="$(var.AutomatAis3Full_TargetDir)LibraryAIS3Windows.dll" />
	    </Component>
	    <Component Id="AutoItX3.Assembly.dll" Guid="dc59767a-55a0-40c5-acc5-19c5b2ee05e4">
	      <File Id="AutoItX3.Assembly.dll" Name="AutoItX3.Assembly.dll" Source="$(var.AutomatAis3Full_TargetDir)AutoItX3.Assembly.dll" />
	    </Component>
      <Component Id="AutoItX3.dll" Guid="7F20C218-1E71-4EFC-9485-82B455B93A38">
	      <File Id="AutoItX3.dll" Name="AutoItX3.dll" Source="$(var.AutomatAis3Full_TargetDir)AutoItX3.dll" />
	    </Component>
      <Component Id="AutoItX3_x64.dll" Guid="B3711A14-5F67-402E-A518-50A292C1F9DE">
	      <File Id="AutoItX3_x64.dll" Name="AutoItX3_x64.dll" Source="$(var.AutomatAis3Full_TargetDir)AutoItX3_x64.dll" />
	    </Component>
      <Component Id="GalaSoft.MvvmLight.dll" Guid="8C0BEB1A-655E-47CC-ABE8-CBFB7012423F">
        <File Id="GalaSoft.MvvmLight.dll" Name="GalaSoft.MvvmLight.dll" Source="$(var.AutomatAis3Full_TargetDir)GalaSoft.MvvmLight.dll" />
      </Component>
      <Component Id="GalaSoft.MvvmLight.Platform.dll" Guid="195BAC38-F578-4AD9-BF93-1A738708046A">
        <File Id="GalaSoft.MvvmLight.Platform.dll" Name="GalaSoft.MvvmLight.Platform.dll" Source="$(var.AutomatAis3Full_TargetDir)GalaSoft.MvvmLight.Platform.dll" />
      </Component>
      <Component Id="Newtonsoft.Json.dll" Guid="C699E208-3133-4C9E-BD15-4A3D17B7189A">
        <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.AutomatAis3Full_TargetDir)Newtonsoft.Json.dll" />
      </Component>
      <Component Id="Interop.UIAutomationClient.dll" Guid="DD066EE1-5556-4EB0-BE20-95C3B6BF5B39">
        <File Id="Interop.UIAutomationClient.dll" Name="Interop.UIAutomationClient.dll" Source="$(var.AutomatAis3Full_TargetDir)Interop.UIAutomationClient.dll" />
      </Component>
      <Component Id="UIAComWrapper.dll" Guid="8A462885-1497-4AE9-A053-4DD9CFCF3A5B">
        <File Id="UIAComWrapper.dll" Name="UIAComWrapper.dll" Source="$(var.AutomatAis3Full_TargetDir)UIAComWrapper.dll" />
      </Component>
      <Component Id="EfDatabaseAutomation.dll" Guid="A1684864-516C-40AF-AFD3-737B9956697F">
        <File Id="EfDatabaseAutomation.dll" Name="EfDatabaseAutomation.dll" Source="$(var.AutomatAis3Full_TargetDir)EfDatabaseAutomation.dll" />
      </Component>
      <Component Id="AisPoco.dll" Guid="A3601EDC-FE07-4FC6-B0A4-D01F4D1F92CD">
        <File Id="AisPoco.dll" Name="AisPoco.dll" Source="$(var.AutomatAis3Full_TargetDir)AisPoco.dll" />
      </Component>
      <Component Id="EntityFramework.dll" Guid="0C840407-DCF2-4CC3-9995-636932017513">
        <File Id="EntityFramework.dll" Name="EntityFramework.dll" Source="$(var.AutomatAis3Full_TargetDir)EntityFramework.dll" />
      </Component>
      <Component Id="EntityFramework.SqlServer.dll" Guid="18AD6909-E707-435D-8F11-3B63A681F0A4">
        <File Id="EntityFramework.SqlServer.dll" Name="EntityFramework.SqlServer.dll" Source="$(var.AutomatAis3Full_TargetDir)EntityFramework.SqlServer.dll" />
      </Component>
      <Component Id="PdfiumViewer.dll" Guid="7A76CAA9-7257-4BC4-9F3E-92694CD5ABC6">
        <File Id="PdfiumViewer.dll" Name="PdfiumViewer.dll" Source="$(var.AutomatAis3Full_TargetDir)PdfiumViewer.dll" />
      </Component>
      <Component Id="Net.SourceForge.Koogra.dll" Guid="B9623D6D-955C-4C19-9AD6-F48C042EE085">
        <File Id="Net.SourceForge.Koogra.dll" Name="Net.SourceForge.Koogra.dll" Source="$(var.AutomatAis3Full_TargetDir)Net.SourceForge.Koogra.dll" />
      </Component>
      <Component Id="Ionic.Utils.Zip.dll" Guid="F422B9C3-C3C8-4C34-ADEB-5FC616EC951B">
        <File Id="Ionic.Utils.Zip.dll" Name="Ionic.Utils.Zip.dll" Source="$(var.AutomatAis3Full_TargetDir)Ionic.Utils.Zip.dll" />
      </Component>
      <Component Id="AttributeHelperModelXml.dll" Guid="4C990695-88E6-4A20-8FE1-EC350E94975F">
        <File Id="AttributeHelperModelXml.dll" Name="AttributeHelperModelXml.dll" Source="$(var.AutomatAis3Full_TargetDir)AttributeHelperModelXml.dll" />
      </Component>

    </ComponentGroup>
    <Component Id="XsdAllBodyData.xsd" Guid="143E7EF5-8794-445B-B41A-0EEF062C006D" Directory="XsdShemeLoad">
      <File Id="XsdAllBodyData.xsd" Name="XsdAllBodyData.xsd" Source="$(var.AutomatAis3Full_TargetDir)XsdShemeLoad\XsdAllBodyData.xsd" />
    </Component>
    <Component Id="Helpers" Guid="2ABEDCD4-5B6E-44F6-B6D6-18C41026CD68" Directory="Help">
        <File Id="AutomateAis3Full.pdf" Name="AutomateAis3Full.pdf" Source="$(var.AutomatAis3Full_TargetDir)Help\AutomateAis3Full.pdf"/>
    </Component>
    <Component Id="x64pdfium.dll" Guid="6B8A9A92-11AC-4ABA-B413-75B85FDC4BBC" Directory="x64dll">
      <File Id="x64pdfium.dll" Name="pdfium.dll" Source="$(var.AutomatAis3Full_TargetDir)x64\pdfium.dll" />
    </Component>
    <Component Id="x86pdfium.dll" Guid="30D7346B-2CDA-435B-AACD-036C52065844" Directory="x86dll">
      <File Id="x86pdfium.dll" Name="pdfium.dll" Source="$(var.AutomatAis3Full_TargetDir)x86\pdfium.dll" />
    </Component>

  </Fragment>
</Wix>
