table {
  width: 100%;
}

.button {
  left: 40px;
  text-align: left;
  margin: 10px;
}
.head {
    width:1000px;
}
.grid-container2 {
      box-shadow: 0 0 5px rgba(0,0,0,0.5);
      display: grid;
      padding: 3px;
      grid-template-columns: 300px max-content 350px;
      grid-column-gap: 40px;
      width:inherit;
}

.grid-item2 {
     background-color: white;
     padding: 0px;
     font-size: 20px;
     text-align: left;
     align-self: center;
}
.db {
    width: 350px
}
.grid-container {
  display: grid;
  grid-template-columns: max-content max-content;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0px;
  font-size: 100%;
  text-align: left;
  align-self: center;

}
button {
         background-color: green;
         color: white;
         cursor: pointer;
}

button:hover {
            background-color: orange;
            color: white;
}
.errors {
    background: red;
    font-size: 25px;
}
.ok {
    background: green;
    font-size: 25px;    
}