<h1>Добавление лица на слияние!!!</h1>
<form (ngSubmit)="addface(faces)">
    <div class="old">
        <label>Старое лицо:</label>
        <input id="N1Old" placeholder="Старое лицо!!!" name="nold" [(ngModel)]="faces.N1Old" type="number" /><br />
    </div>
    <div class="new">
        <label>Новое лицо:</label>
        <input id="N1New" placeholder="Новое лицо!!!" name="nnew" [(ngModel)]="faces.N1New" type="number" /><br />
    </div>
    <input type="submit" value="Отправить" />
</form>
{{server}}
<table *ngIf="tableMode; else notfound" class="table table-striped">
    <thead>
    <tr>
        <th>Порядковый номер</th>
        <th>Старое лицо</th>
        <th>Новое лицо</th>
        <th>Сообщение</th>
        <th>Ун сливаемого лица</th>
        <th>Название</th>
        <th>ИНН</th>
        <th>КПП</th>
        <th>ФИД</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let face of facemodel?.SqlFaceErrorResult?.faceErrorField">
        <th>{{face?.idField}}</th>
        <th>{{face?.n1oldField}}</th>
        <th>{{face?.n1newField}}</th>
        <th>{{face?.messageeField}}</th>
        <th>{{face?.fN212Field.n1Field}}</th>
        <th>{{face?.fN212Field.n18Field}}</th>
        <th>{{face?.fN212Field.n134Field}}</th>
        <th>{{face?.fN212Field.d3Field}}</th>
        <th>{{face?.fN212Field.fID_EntityField}}</th>
        <td>
            <button class="btn btn-sm btn-danger" (click)="del(face)">Исключить</button>
        </td>
    </tr>
    </tbody>
</table>

<ng-template #notfound>
    <h4>Нет лиц на слияние!!!</h4>
</ng-template>