<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/public/vendor.css" asp-append-version="true" />
    <script src="~/public/vendor.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>