@{
    ViewBag.Tiile = "FormLetter";
}
<body>

</body>
<h1>@ViewBag.Message</h1>
<add-template>Загрузка блока...</add-template>
<script src="~/public/polyfills.js"></script>
<script src="~/public/app.js"></script>