@{
    ViewBag.Tiile = "Bdk";
}
<body>

</body>
<h1>@ViewBag.Message</h1>
<p align="right">@Html.ActionLink("Сформировать и скачать файл выборки БДК!!!", "DonloadBdk", "Otdel")</p>
<my-bdk>Загрузка блока...</my-bdk>
<script src="~/public/polyfills.js"></script>
<script src="~/public/app.js"></script>