@{
    ViewBag.Tiile = "FormLetter";
}
<body>

</body>
<h1>@ViewBag.Message</h1>
<my-letter>Загрузка блока...</my-letter>
<script src="~/public/polyfills.js"></script>
<script src="~/public/app.js"></script>
