.conteinerform {
      box-shadow: 0 0 5px rgba(0,0,0,0.5);
      display: grid;
      margin-top: 20px;
      padding: 3px;
      grid-template-columns: 600px;
      grid-column-gap: 40px;
      width:inherit;
}
.Inline {
    display: flex;
     
}
.textHeade {
    width: 280px
}

.dela-width {
    width: 1200px;
}
.dela-height {
    height: 200px;
}

.mat-header-cell{
  background: linear-gradient(45deg, rgba(67, 233, 34, 0.801), rgb(120, 219, 100));
  font-size: 16pt;
  font-style: italic; 
  padding: 10px;
  margin: 5px;
}

.mat-cell{
  background: gold;
  align-items: center;
  font-size: 12pt;
  font-style: normal; 
}

.okato-width {
    width: 300px;
    margin-left: 20px;
}
.inputokato {
    
    width: 300px;
}