<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="RunTimeDirectory" value="C:\Users\7751_svc_admin\Desktop\Arh\RunTimeDerectory\"/>
    <add key="OkPath" value="C:\Users\7751_svc_admin\Desktop\Arh\OkPath\"/>
    <add key="PathSeath" value="\\i7751-app001\BANK\"/>
    <add key="PathDLL64" value="D:\Visual Studio 2012\StudioBlend\WPFLib\SeathZip\Dll\7z64.dll"/>
    <add key="PathDLL32" value="D:\Visual Studio 2012\StudioBlend\WPFLib\SeathZip\Dll\7z.dll"/>
  </appSettings>
</configuration>