<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="SQL" connectionString="Data Source=i7751-app196;Initial Catalog=Taxes51;Integrated Security=True;MultipleActiveResultSets=True"/>
  </connectionStrings>
</configuration>