<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.96.0" targetFramework="net452" />
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net452" />
  <package id="DocumentFormat.OpenXml" version="2.16.0" targetFramework="net452" />
  <package id="ExcelNumberFormat" version="1.1.0" targetFramework="net452" />
  <package id="FreeSpire.Doc" version="6.3" targetFramework="net452" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net452" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net452" />
  <package id="NSubstitute" version="0.9.0.34" targetFramework="net452" />
  <package id="PdfiumViewer" version="2.10.0.0" targetFramework="net452" />
  <package id="Prism.Core" version="6.3.0" targetFramework="net452" />
  <package id="Prism.Wpf" version="6.3.0" targetFramework="net452" />
  <package id="Spire.PDF" version="8.9.2" targetFramework="net452" />
  <package id="Unity" version="2.1.505.0" targetFramework="net452" />
</packages>